.card-spot {
  border: 2px solid black;
  width: 252px;
  height: 352px;
}

.action-overlay {
  z-index: 9;
  margin: 20px;
}
.stack-top {
  z-index: 9;
  margin: 20px;
}

.container {
  position: relative;
}

.box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 25%;
  pointer-events: auto !important;
}

.overlay {
  z-index: 9;
}
