<div class="container">
  <div class="box"></div>
  <div class="box overlay"></div>
</div>

<div class="card-spot" (click)="spotClick()" >
  <div *ngIf="activeCard" class="unlickable container">
    <card id="{{id}}" uuid="{{uuid}}" class=""></card>
    <div *ngIf="displayActionMenu && myCardIsActive" class="box overlay">
      <button (click)="clearSpot()">REMOVE</button>
      <button (click)="equipItem()">EQUIP</button>
      <button (click)="attack()">ATTACK</button>
      <button (click)="switch()">SWITCH</button>

    </div>
  </div>
</div>
