.card {
  border: 5px solid lightgray;
  min-width: 250px;
  min-height: 350px;
  margin: 5px;
}
.card:hover {
  box-shadow: 0 32px 88px 0 rgba(0, 0, 0, 0.7);
  transform: scale(1.25);
  z-index: 1;
}

.active {
  box-shadow: 0 68px 104px 0 rgba(0, 0, 0, 0.9);
  transform: scale(1.2);
  border: 5px solid teal;
  z-index: 1;
}

img{
  height: 60%;
  width: auto;
  pointer-events: none;
}

.uuid{
  font-size: 10px;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
