<div class="card" *ngIf="unitCard && unitCard.unit && unitCard.unit.stats" (click)="onClickCard()" cdkDrag>
  <img class="card-img-top" src="{{unitCard.unit.image}}" alt="Unit Image">
  <div class="card-body">
    <h4 class="card-title">{{unitCard.unit.name}}</h4>
    <div class="progress">
      <div class="progress-bar bg-danger" [style.width.%]="(unitCard.curHealth / unitCard.unit.stats.health) * 100">
        HP {{unitCard.curHealth}} / {{unitCard.unit.stats.health}}
      </div>
    </div>
    <table>
      <tr>
        <td>| ATK: {{unitCard.unit.stats.attack}} |</td>
        <td>DEF: {{unitCard.unit.stats.defense}} |</td>
        <td>SKL: {{unitCard.unit.stats.skill}} |</td>
      </tr>
    </table>
    <div class="row">
      <p class="col-6">{{unitCard.unit.class.arms}}</p>
      <p class="col-6">{{unitCard.unit.class.tools}}</p>
    </div>
  </div>
</div>
<br>