@import "src/styles.scss";

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.2);
  z-index: 1;
}

.card:active {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.2);
  border: 5px solid teal;
}

img {
  border-radius: 5px 5px 0 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 100%;
  height: 50%;
  margin: auto;
}
