<div>
    Saved Cards:
</div>
<div class="row">
    <div *ngFor="let unitSave of saveCards.unitSaves" class="col deck-slot" cdkDropList
        (cdkDropListDropped)="drop($event)">
        <unit-card unitId="{{unitSave.cardId}}" curHealth={{unitSave.curHealth}} uuid={{unitSave.uuid}}>
        </unit-card>
    </div>
</div>
<div class="deck-slot" cdkDrag>
    Drag me around
</div>