.mycard {
  width: 100px;
  height: 150px;
  border: 1px dashed black;
  margin: auto;
  top: 50%;
}

.stage {
  margin: auto;
  border: 1px solid black;
  align-items: center;
  width: 500px;
}

.card-row{
    display: flex;
}

.active-player{
  
}
