<!-- Search Field -->
<div>
  <div class="filter-wrap">
    <input [(ngModel)]="searchText" placeholder="Filter Names" class="filter-input">
    <span class="filter-clear" *ngIf="searchText.length>0" (click)="clearFilter()">X</span>
  </div>
</div>

<div class="row">
  <ul *ngIf="allCardsList" class="col">
    <li *ngFor="let anyCard of allCardsList | filter : searchText">
      <card-list-item id="{{anyCard.card.id}}"></card-list-item>
    </li>
  </ul>
  <div class="col">
    <active-card></active-card>
  </div>
</div>
