<div class="card-row disable-select" (click)="setActiveCard()" [ngClass]="{active: isActiveCard}">
  <div class="row">
    <h4 class="card-title col-2">{{thisCard.card.name}}</h4>
    <div class="col-3">
      <img class="card-img-tophalf" src="{{thisCard.card.image}}" alt="Unit Image">
    </div>
    <div class="half col row">
      <div *ngIf="thisCard['unit']">
        <table>
          <tr>
            <td>| HP: {{thisCard.unit.stats.health}} |</td>
            <td>ATK: {{thisCard.unit.stats.attack}} |</td>
            <td>DEF: {{thisCard.unit.stats.defense}} |</td>
            <td>SKL: {{thisCard.unit.stats.skill}} |</td>
            <td>LCK: {{thisCard.unit.stats.luck}} |</td>
          </tr>
        </table>
        <div class="row">
          <p class="col-6" *ngIf="thisCard.armsClass">Arms: {{thisCard.armsClass.className}}</p>
          <p class="col-6" *ngIf="thisCard.toolsClass">Tools: {{thisCard.toolsClass.className}}</p>
        </div>
      </div>
      <div *ngIf="thisCard['usesLeft']">
        <div *ngIf="!thisCard.card['damage']" class="progress-bar bg-success"
          [style.width.%]="(thisCard.usesLeft / thisCard.card.uses) * 100">
          USES: {{thisCard.usesLeft}} / {{thisCard.card.uses}}
        </div>
        <div *ngIf="thisCard.card['damage']" class="progress-bar bg-warning"
          [style.width.%]="(thisCard.usesLeft / thisCard.card.uses) * 100">
          USES: {{thisCard.usesLeft}} / {{thisCard.card.uses}}
        </div>
        <div *ngIf="thisCard.card['healAmount']">
          Heal Amount: {{thisCard.card.healAmount}}
        </div>
        <div *ngIf="thisCard.card['damage']">
          Damage: {{thisCard.card.damage}}
        </div>
        <div>
          RNG: {{thisCard.card.minRange}} - {{thisCard.card.maxRange}}
        </div>
      </div>
      <!-- <div *ngIf="thisCard.card['description']">
        {{thisCard.card.description}}
      </div> -->
    </div>
    <!-- <div class="uuid col">{{thisCard.getUuid()}}</div> -->
  </div>
</div>
