/* You can add global styles to this file, and also import other style files */
$testcolor: red;


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 280px;
    height: 450px;
  
    transition: transform 0.2s;
    border: 5px solid $testcolor;
    border-radius: 5px;
  }